@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
          /* Text var*/
        --color-text-body: 0, 0, 0;/* body text*/
        --color-text-nav: 31, 41, 55;/* nav text*/
        --color-text-sidebar: 55, 65, 81;/* sidebar text*/
        --color-text-headline: 0, 0, 0;/* headline text*/
        --color-text-titel: 15, 23, 42;/* titel text*/
        --color-text-sub-titel: 55, 65, 81;/* sub-titel text*/
        --color-text-paragraph: 75, 85, 99;/* paragraph text*/
        --color-text-btnprimary: 248, 250, 252;/* primary button text*/
        /* Hover Text var*/
        --color-text-sidebarhover-link: 0, 0, 0;/* sidebar hover text*/
        /* Backgruond var*/
        --color-body-fill: 249, 250, 251; /* body background*/
        --color-sidebar-fill: 243, 244, 246; /* sidebar background*/
        --color-navbar-fill: 249, 250, 251;/* navbar background*/
        --color-contenthead-fill: 229, 231, 235;/* contenthead background*/
        --color-contentbody-fill: 243, 244, 246;/* contentbody background*/
        --color-btnprimary-fill: 55, 65, 81;/* primary button background*/
         /* Hover Backgruond var*/
        --color-sidebarhover-fill: 229, 231, 235;/* sidebar hover background*/
        
      }

      .theme-dark {
        /* Text var*/
      --color-text-body: 15, 23, 42;/* body text*/
      --color-text-nav: 100, 116, 139;/* nav text*/
      --color-text-sidebar: 100, 116, 139;/* sidebar text*/
      --color-text-headline: 148, 163, 184;/* headline text*/
      --color-text-titel: 148, 163, 184;/* titel text*/
      --color-text-sub-titel: 71, 85, 105;/* sub-titel text*/
      --color-text-paragraph: 100, 116, 139;/* paragraph text*/
      --color-text-btnprimary: 248, 250, 252;/* primary button text*/
      /* Hover Text var*/
      --color-text-sidebarhover-link: 148, 163, 184;/* sidebar hover text*/
      /* Backgruond var*/
      --color-body-fill: 15, 23, 42; /* body background*/
      --color-sidebar-fill: 30, 41, 59; /* sidebar background*/
      --color-navbar-fill: 15, 23, 42;/* navbar background*/
      --color-contenthead-fill:51, 65, 85;/* contenthead background*/
      --color-contentbody-fill: 30, 41, 59;/* contentbody background*/
      --color-btnprimary-fill: 220, 38, 38;/* primary button background*/
       /* Hover Backgruond var*/
      --color-sidebarhover-fill: 51, 65, 85;/* sidebar hover background*/
      
    }
}
  